@charset "utf-8";
/* CSS Document */


*{
	transition:all 1.5s cubic-bezier(0,0.7,0.3,1);;
	-webkit-transition:all 1.5s cubic-bezier(0,0.7,0.3,1);;
	-moz-transition:all 1.5s cubic-bezier(0,0.7,0.3,1);;
	-o-transition:all 1.5s cubic-bezier(0,0.7,0.3,1);;
	-ms-transition:all 1.5s cubic-bezier(0,0.7,0.3,1);;	
}
body{
	background-image:url(Images/bgPic.jpg);
	background-repeat:no repeat;	
}
div.container{
	min-height:800px;
	width:980px;
	margin:0 auto;
}
div.header{
	width:inherit;
	height:130px;
	margin:0 auto;
}
div.logo{
	width:350px;
	height:120px;
	background-image:url(Images/logo.png);
	background-repeat:no-repeat;
	margin-top:45px;
}
div.content{
	width:inherit;
	min-height:700px;
	margin:0 auto;

}
div.pic{
	width:inherit;
	min-height:420px;
}
div.picin{
	width:980;
	min-height:420px;
	margin:0 auto;
}
div.picin div{
	cursor:pointer
}
div.picin1{
	width:190px;
	height:420px;
	background-image:url(Images/splash_pic1.png);
	background-repeat:no-repeat;
	float:left;
}
div.picin2{
	width:190px;
	height:420px;
	background-image:url(Images/splash_pic2.png);
	background-repeat:no-repeat;
	float:left;
}
div.picin3{
	width:190px;
	height:420px;
	background-image:url(Images/splash_pic5.png);
	background-repeat:no-repeat;
	float:left;
}
div.picin4{
	width:190px;
	height:420px;
	background-image:url(Images/splash_pic4.png);
	background-repeat:no-repeat;
	float:left;
}
div.picin5{
	width:190px;
	height:420px;
	background-image:url(Images/splash_pic3.png);
	background-repeat:no-repeat;
	margin-left:760px;
}
.clear{
	clear:both;
}
div.menubar{
	width:1100px;
	height:120px;
	margin-top:-16px;
}
div.menu{
	width:1000px;
	height:110px;
	margin-left:-40px;
}
div.menu ul{
	list-style-type:none;	
}
div.menu ul li{
	background-color:#333;
	float:left;
	width:187px;
	height:50px;
	cursor:pointer;
}
div.menu ul li.l2,li.l3,li.l4,li.l5{
	margin-left:4px;
}
div.menu a{
	display:block; 
	text-decoration:none;
	font-size:25px;
	direction:rtl;
	text-align:center;
	color:#FFF;
	padding-top:10px;
}
div.menu li:hover {
	background-color:#F7A200;
	color:#333;
}
div.menu li:hover a{
	color:#333;
}
